@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  
  --color-brand-gold: #D1A054;
  --color-brand-gold-dark: #b88645;
  --color-brand-dark: #0a0a0a;
  --color-brand-dark-2: #141414;
  --color-brand-light: #fafafa;
}

@layer base {
  html, body {
    @apply bg-brand-dark text-brand-light font-inter antialiased overflow-x-hidden;
  }
}