---
import Layout from '../layouts/Layout.astro';
import ServicesView from '../components/ServicesView';
import FooterIsland from '../components/FooterIsland';
---

<Layout title="CourtSide | Our Services">
	<main class="w-full min-h-screen bg-brand-dark flex flex-col relative overflow-x-hidden pt-24">
		<ServicesView client:load />
		<FooterIsland client:load />
	</main>
</Layout>
